*{
  margin: 0;
  padding: 0;
}
.choice
{
width: 165px;
height: 165px;
font-size: 20vmin;
text-align: center;
align-items: center;
object-fit: cover;
border-radius: 50%;
}
.choice:hover
{
  opacity: 0.5;
}
h1{
text-align: center;
  background-color:#081b31;
  color:white;
  height: 5rem;
  line-height: 5rem;
}
#rock{
  background-color: pink;
}
#paper{
  background-color: blueviolet;

}
#scissor{
  background-color: burlywood;
}
.choices{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin: 5rem;
}
.score-board{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 3rem;
  font-size: 2rem;
  gap:5rem;

  
}
#user-score,
#com-score{
  font-size: 4rem;
}
.msg-container{
  margin-top: 5rem; 
  text-align: center; 
}
#msg{
  display: inline;
  margin-top: 5rem;
  background-color: black;
  color:white;
  font-size: 2rem;
  border-radius: 1rem;
  padding:  1rem;
  text-align: center;
}